<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codextech.ibtisam.lepak_app"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".wiget.App"
        android:allowBackup="true"
        android:icon="@drawable/pos_ico"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name="com.codextech.ibtisam.lepak_app.activity.OldMainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- &lt;!&ndash;<intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt; -->
        <!-- &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
        <!-- &lt;!&ndash;</intent-filter>&ndash;&gt; -->
        <!-- </activity> -->

        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TicketFormatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllTicketsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TicketReturn"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".activity.LoginActivity" /> -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".activity.LoginActivity" /> -->
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragments.SummaryFragment"
            android:screenOrientation="portrait" />
        <!-- <activity -->
        <!-- android:name=".activity.RegisterActivity" /> -->
        <!-- <activity android:name=".LogOut"></activity> -->
        <activity
            android:name=".LogOut"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.StartReceiver">
            <intent-filter android:priority="996">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service android:name=".service.ScanService" />
    </application>

</manifest>
